body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

section {
  padding: 7% 15%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.btn {
  border-width: medium;
  font-weight:bold;
  margin-top: 1rem;
  font-family: 'Work Sans', sans-serif;
}

.btn:hover {
  background-color: #FFBD35;
}

.color-section {
  background-color: #35858B;
  color: #fff;
}

/* Navigation Bar Section */
#navigation {
  padding: 2% 15% 0;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Play', sans-serif;
}

.contact-a {
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 80%;
}

.color-section .contact-a:hover {
  color:#FFBD35;
}

/* Title Section */
#title {
  text-align: left;
}

.title-h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.title-p {
  font-size: 2rem;
  font-weight: 200;
}

.girl-eating {
  width: 100%;
  border-radius: 100%;
  margin-top: 3rem;
}

@media (max-width:1030px) {
  .girl-eating{
    margin-top:4rem;
    width: 110%;
  }
}

@media (max-width:991px){
  #title {
    text-align: center;
  }
  .girl-eating {
    width:50%;
  }
}

/* Cause Section */
#cause {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

.cause-p-1 .cause-p-2 {
  padding-right: 3rem;
}

.cause-p-2 {
  padding-top: 2rem;
}

.cause-p-3 {
  padding-left: 3rem;
}

@media (max-width:991px) {
.cause{
  text-align: center;
}

.cause-p-3 {
padding-left:0;
padding-top: 2rem;
  }
}
/* Call to Action Section */
#cta {
  padding-bottom: 2%;
}

.cta-h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.homeless-man {
  width: 40%;
  border-radius: 100%;
  margin: 5% 5%;
}

@media (max-width:1200px) {
  .homeless-man {
    width: 70%;
  }
}

/* Form Section */
#form {
  padding-top: 0;
}

label {
  display: inline-block;
  width: 9rem;
  text-align: right;
}

@media (max-width:530px) {
  label {
    text-align: center;
}
}

.card-icon {
  font-size: 2rem;
  padding-left: .5rem;
}

.card-label {
  font-weight: 900;
  padding-bottom: 1rem;
}

.donate-h2 {
  font-size: 2rem;
  color:#FFBD35;
}

.donation-div {
  padding-bottom: .5rem;
}

.donation-form {
  color: #000000;
  font-weight: 500;
}

.form-h2 {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}

/* Footer Section */

#footer {
  padding: 2% 15% 0;
}

.copyright{
  font-size: .8rem;
  padding-top:1rem;
}

.footer-icon {
  color: #000000;
  padding:0 .5rem;
}

.footer-icon:hover {
  color: #FFBD35;
}

/* Contact Section */
.contact-h1 {
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.contact-h6 {
  color: #000000;
}

.contact-info {
 color:#FFBD35;
}

.email:hover {
  color:#000000;
}

p.contact-p {
  margin-bottom:0;
}
